@tailwind base;
@tailwind components;
@tailwind utilities;



.slick-arrow {
  margin: 0 2.3rem;
  z-index: 100;
}

.likeEffect {
  position: absolute;
  opacity: 0.7;
  width: 6rem;
  transform: scale(0);
  animation: like 0.5s linear 1;
}

@keyframes like {
  0% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(0.4);
  }
}


.slick-prev, .slick-next {
  color: white; /* رنگ دلخواه */
  z-index: 10;
}

.slick-prev::before, .slick-next::before {
  color: rgb(110, 101, 101); /* رنگ آیکون قبل از تغییر */
  font-size: 25px; /* اندازه دلخواه آیکون */
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  transition: all ease 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}